{% extends 'base.html' %}

{% block tab_title %}
    Signup
{% endblock %}

<!-- Content -->
{% block content %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Register now</button>
    </form>

    {{ form.errors }}

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                {{ error|escape }}
            {% endfor %}
        {% endfor %}
    {% endif %}

{% endblock %}