{% extends 'base.html' %}

{% block tab_title %}
    Authors
{% endblock %}

{% block content %}

    {% if form.errors %}
        {% for error in form.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ error.message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}

    <!-- Create Modal -->
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body">
                        {{ form.as_p }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Create Author</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Image-Modals -->
    {% for author in authors %}
        <div id="imageModal-{{ author.id }}" class="modal fade" tabindex="-1" role="dialog"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <img src="{{ author.image.url }}" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createModal">
        Create new Author
    </button>

    <!-- Table Author-List -->
    <table class="table table-hover text-center mt-3">
        <thead>
        <tr>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Image</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td>{{ author.first_name }}</td>
                <td>{{ author.last_name }}</td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#imageModal-{{ author.id }}">
                        Show image
                    </button>
                </td>
                <td><a href="{% url 'show_author' author.id %}" class="btn btn-info">Open</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}