{% extends 'base.html' %}

{% block tab_title %}
    Author
{% endblock %}

{% block content %}

    {% for field in form %}
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ error }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}

    <!-- Create Modal -->
    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateModalLabel">Update Author</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body">
                        {{ form.as_p }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Update now</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateModal">
        Update author
    </button>

    <div class="mt-3">
        <div class="row">
            <div class="col">
                <ul class="list-unstyled">
                    <li>Firstname: {{ author.first_name }}</li>
                    <li>Lastname: {{ author.last_name }}</li>
                </ul>
            </div>
            <div class="col">
                <img src="{{ author.image.url }}"
                     class="img-fluid" alt="">
            </div>
        </div>
    </div>

{% endblock %}